#about .wrap{
    display: flex;
}

.about__container_pictures{
    transform: translateY(-50%);
    position: relative;
}

#about .medias{
    position: absolute;
    bottom: 0px;
    transform: translateY(50%);
    width: 100%;
}

.about__my_picture{
    max-width: 22rem;
    aspect-ratio: 1;
    width: 100vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #00000088;
}

.about__content{
    padding: 3rem;
}

.about__name{
    font-size: 4.5rem;
}

.about__profession{
    font-style: italic;
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--color-secundary);
}

.about__apresentation{
    margin-top: 2.5rem;
}

.about__hello{
    font-weight: bold;
    font-size: 2rem;
}

.about_paragraph{
    margin-top: 1rem;
    line-height: 1.8em;
    color: var(--color-secundary);
}

